/* ===================================== */
/* =========== main =====================*/
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

.section-title {
  margin: 0;
  font-size: 1.375rem;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-cards .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  gap: 4px;
  padding-bottom: 15px;
}

.hebergements-cards .card img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  padding: 0 15px;
}

.hebergements-cards .card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.hebergements > h2 {
  cursor: pointer;
  font-size: 1.125rem;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.activites {
  width: 100%;
}

/* ======================Activités========================= */

.activites {
  padding: 50px 30px 30px 30px;
}

.activites h2 {
  font-size: 1.375rem;
  margin-bottom: 30px;
}

.activites .activites-cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.activites .activites-cards .card {
  width: 23%;
  height: 439px;
  padding: 0;
}

.activites .activites-cards .card img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
  display: block;
}
.activites .activites-cards .card .card-content {
  height: 59px;
  display: flex;
  align-items: center;
}
.activites .activites-cards .card .card-content .card-txt {
  font-size: 1rem;
  padding-left: 20px;
}
