/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
/* ===================================== */
/* =========== nav =====================*/
nav {
  font-weight: 500;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: "logo none nav";
  height: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 30px;
}

.logo-container img {
  height: 30%;
}

.menu {
  grid-area: nav;
  display: flex;
  justify-content: end;
  height: 100%;
  font-size: 1rem;
}
.menu ul {
  display: flex;
  gap: 30px;
}

.menu ul li {
  border-top: 2px solid #0065fc;
  margin-right: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.menu ul li a {
  position: relative;
  color: var(--main-color);
}

.menu ul :nth-child(2):not(:hover) {
  border-top: 2px solid transparent;
}
.menu ul :nth-child(2) :not(:hover) {
  color: black;
}

/* ===================================== */
/* =========== main =====================*/
.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/* ===================================== */
/* =========== Intro ====================*/

.intro {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro .intro-title h1 {
  font-size: 1.375rem;
  line-height: 2rem;
}

.intro .intro-title p {
  font-size: 1rem;
}

.intro .intro-search form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 49px;
}

.intro .intro-search label {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--main-bg-color);
  height: 49px;
  width: 50px;
  border-radius: 15px 0 0 15px;
  color: black;
  border: 1px solid var(--main-bg-color);
}
.intro .intro-search label i {
  color: black;
}

.intro .intro-search input {
  font-size: 1.125rem;
  border: none;
  height: 38px;
  outline: none;
  padding: 12px 15px;
  height: 49px;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
}

.intro .intro-search button {
  cursor: pointer;
  background: var(--main-color);
  padding: 12px 15px;
  height: 49px;
  border: 1px solid var(--main-bg-color);
  border-radius: 0 15px 15px 0;
  font-weight: bold;
}
.intro .intro-search button span {
  color: white;
}

.intro .intro-search button i {
  display: none;
}

.intro .intro-filter {
  display: flex;
  align-items: center;
  gap: 20px;
}
.intro .intro-filter h2 {
  font-size: 1.125rem;
}
.intro .intro-filter button {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border: 2px solid var(--main-bg-color);
  font-weight: bold;
  font-size: 1.063rem;
  color: black;
  background: white;
  border-radius: 30px;
}

.intro .intro-filter button:hover {
  background: #0065fc22;
}

.intro .intro-filter button i {
  color: var(--main-color);
  font-size: 1rem;
}

.intro .intro-popup {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.intro .intro-popup .popup-icon {
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-bg-color);
  height: 24px;
  width: 24px;
  border-radius: 500px;
}

.section-title {
  margin: 0;
  font-size: 1.375rem;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutralStar {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hebergements-cards .card {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  gap: 4px;
  padding-bottom: 15px;
}

.hebergements-cards .card img {
  width: 100%;
  height: 124px;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  padding: 0 15px;
}

.hebergements-cards .card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.hebergements > h2 {
  cursor: pointer;
  font-size: 1.125rem;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

.activites {
  width: 100%;
}

/* ======================Activités========================= */

.activites {
  padding: 50px 30px 30px 30px;
}

.activites h2 {
  font-size: 1.375rem;
  margin-bottom: 30px;
}

.activites .activites-cards {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.activites .activites-cards .card {
  width: 23%;
  height: 439px;
  padding: 0;
}

.activites .activites-cards .card img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0 0;
  display: block;
}
.activites .activites-cards .card .card-content {
  height: 59px;
  display: flex;
  align-items: center;
}
.activites .activites-cards .card .card-content .card-txt {
  font-size: 1rem;
  padding-left: 20px;
}

footer {
  background: var(--main-bg-color);
  height: 163px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1rem;
}

footer h2 {
  font-size: 1.125rem;
}

footer li {
  margin-bottom: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  nav {
    height: 79px;
  }
  .logo-container {
    padding-left: 50px;
  }
  .menu {
    padding-bottom: 20px;
  }
  .hebergements-and-populaires {
    flex-wrap: wrap;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activites .activites-cards .card {
    height: 270px;
  }
  .activites .activites-cards .card img {
    height: 200px;
  }
  .activites .activites-cards .card .card-content {
    height: 70px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
  .main-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 115px;
  }

  .logo-container {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo-container img {
    height: 30%;
  }
  .menu {
    display: block;
    width: 100%;
  }
  .menu ul {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0;
  }
  .menu ul li {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--main-color);
    padding-bottom: 15px;
  }
  .menu ul a {
    text-align: center;
  }
  .menu ul :nth-child(2):not(:hover) {
    border-bottom: 2px solid transparent;
    border-top: none;
  }
  .menu ul :nth-child(2) :not(:hover) {
    color: black;
  }

  .intro .intro-search {
    margin: 0 auto;
  }
  .intro .intro-search form {
    max-width: 100%;
  }
  .intro .intro-search input {
    max-width: 50%;
  }
  .intro .intro-search button {
    width: 49px;
    border-radius: 15px;
  }
  .intro .intro-search button span {
    display: none;
  }
  .intro .intro-search button i {
    display: block;
    color: white;
  }
  .intro .intro-filter h2 {
    display: block;
    width: 100%;
  }
  .intro .intro-filter {
    flex-wrap: wrap;
  }
  .intro .intro-filter button {
    width: 45%;
    justify-content: center;
    font-size: 0.875rem;
  }
  .hebergements-and-populaires {
    flex-wrap: wrap-reverse;
  }
  .hebergements-and-populaires section {
    border-radius: 0;
  }
  .populaires-cards {
    flex-direction: column;
  }
  .populaires-cards a {
    width: 100%;
  }
  #hebergements {
    background: white;
  }

  .hebergements-cards {
    flex-direction: column;
  }

  .hebergements-cards .card {
    width: 100%;
  }
  .activites .activites-cards {
    flex-direction: column;
    gap: 20px;
  }
  .activites .activites-cards .card {
    width: 100%;
  }
  footer {
    height: 100%;
    grid-template-columns: 1fr;
  }
}
